.logincard {
  background-image: linear-gradient(
    to right top,
    $color-primary-light,
    $color-primary-dark
  );
  height: 100vh;
}

$imgKey: random(5);
$list: mountain, river, sun, tree, road;
$nth: nth($list, $imgKey);

.card {
  background-image: linear-gradient(
      90deg,
      rgba($color-white, 1) 0%,
      rgba($color-white, 1) 35%,
      rgba($color-primary, 0.3) 35%
    ),
    url("../img/#{$nth}.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-radius: 2rem;
  height: 70vh;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
}

.card-form {
  width: 35%;
  padding: 6rem;
}

.row {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 7%;
}

.labelh2 {
  font-size: 4rem;
  font-weight: bold;
  color: $color-primary;
}

.btn {
  font-size: 2rem;
}

.login-welcome-text {
  color: #fff;
  letter-spacing: 0.03rem;
  margin: -15rem 0 2rem 60rem;
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  z-index: 5;
  animation: 2s ease-out slideright;
}

.login-under-text {
  color: #fff;
  letter-spacing: 0.03rem;
  margin: -5rem 0 2rem 60rem;
  font-size: 5rem;
  font-weight: bold;
  position: relative;
  z-index: 5;
  animation: 2s ease-out slideright;
}
