*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  backdrop-filter: initial;
}
body {
  box-sizing: border-box;
}
::selection {
  background-color: #210458;
  color: #ffffff;
}
.add__card {
  background-color: #ffffff;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  margin: 2rem;
  width: 30rem;
  height: 50rem;
  justify-items: center;
  cursor: pointer;
  border-radius: 1.75rem;
  animation: slideup 1s ease-in-out, fadein 1.5s ease-in-out 0ms 1;
  color: #443282;
}
.weatherlogo {
  height: 100px;
  width: auto;
}
.card__title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.city__illustration {
  width: 20rem;
}
.body__container {
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
}
.add__icon {
  width: 10rem;
  margin-bottom: 1.15rem;
}
.matcardsearch {
  height: 40rem;
  width: 25rem;
  align-items: top;
  align-content: center;
  border-radius: 5%;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.main-logo {
  height: 5rem;
  padding-left: 3rem;
}
.sidebar-logo:focus,
.sidebar-logo:active {
  outline: none !important;
  box-shadow: none;
}
.sidepanel {
  width: 0;
  position: fixed;
  z-index: 10;
  height: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  position: -webkit-sticky;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  transition: 0.5s;
}
.sidepanel__top {
  background-image: linear-gradient(to right, #00ff9b, #5f84fb);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidepanel__top__uper {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
}
.sidepanel__top__uper__logo {
  height: 3rem;
}
.sidepanel__top__uper__logo:focus {
  outline: none;
}
.sidepanel__top__uper__welcome {
  font-size: 2rem;
  align-self: center;
  margin-left: 5rem;
  color: #ffffff;
}
.sidepanel__top__lower {
  display: flex;
  margin-top: 8rem;
  margin-bottom: 2rem;
}
.sidepanel__top__lower__img {
  height: 7rem;
}
.sidepanel__top__lower__details {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.sidepanel__top__lower__details__email {
  color: #ffffff;
  font-size: 2rem;
}
.sidepanel__top__lower__details__plan {
  color: #ffffff;
}
.sidepanel__nav {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: #000000;
  margin: 3rem 0 0 2rem;
}
.sidebarfull {
  position: fixed;
  overflow: hidden;
}
.sidebar-logo {
  height: 3rem;
}
.mdthemecolorful {
  background-image: linear-gradient(to right, #00ff9b, #5f84fb);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.weatherlogo {
  height: 150px;
  width: 150px;
  align-self: center;
  align-content: center;
}
.addlogo {
  height: 150px;
  width: 150px;
  margin-left: 50px;
  margin-bottom: 80px;
}
.card__title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.switchmanager {
  align-content: center;
  justify-content: center;
}
.sharegridbtn {
  margin-left: 100px;
}
.md-temp {
  padding-left: 2rem;
  padding-right: 2rem;
}
.md-weather {
  padding-left: 2rem;
  padding-right: 2rem;
}
.cardmd {
  height: 42rem;
  width: 25rem;
  align-items: top;
  align-content: center;
  border-radius: 5%;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.cardcitytext {
  align-items: top;
  align-content: center;
}
.citytext {
  translate: transform(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
#vertical-container {
  height: 80rem;
  width: 100%;
}
.virtualRepeatdemoVerticalUsage .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 100px;
}
.virtualRepeatdemoVerticalUsage md-content {
  margin: 5rem;
}
.virtualRepeatdemoVerticalUsage md-virtual-repeat-container {
  border: solid 1px grey;
}
.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px;
}
.cardmdlist {
  height: 20rem;
  width: 25rem;
  align-items: top;
  align-content: center;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  margin-top: 2rem;
  border-radius: 5%;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.weatherlogolist {
  height: 100px;
  width: 100px;
  align-self: center;
  align-content: center;
}
.cardcitytextlist {
  align-content: center;
}
.citytextlist {
  translate: transform(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__titlelist {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
md-card-title-text {
  justify-content: center;
}
md-card-content {
  vertical-align: middle;
}
.templist {
  align-items: center;
  justify-content: center;
  padding: 8rem;
}
.addlogolist {
  height: 150px;
  width: 150px;
  align-self: center;
}
.cardmdlistadd {
  padding-right: 30rem;
  padding-left: 5rem;
  display: flex;
  margin: 0 3rem 0;
  align-self: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-direction: row;
  border-radius: 5%;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}
.main-container__bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0;
  background: white;
  transition: opacity 300ms linear;
}
.searchcard {
  background-image: linear-gradient(to right top, #00ff9b, #5f84fb);
  height: 100vh;
}
.cardadd {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, rgba(33, 4, 88, 0.3) 50%), url("../img/mountain.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 2rem;
  height: 80vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.card-form-add {
  width: 50%;
}
.rowadd {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 3%;
}
.logincard {
  background-image: linear-gradient(to right top, #00ff9b, #5f84fb);
  height: 100vh;
}
.card-form {
  align-items: center;
  width: 35%;
  padding-top: 7%;
}
@media screen and (max-width: 1000px) {
  .card-form {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .card-form {
    width: 100%;
  }
}
.card {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 35%, rgba(33, 4, 88, 0.3) 35%), url("../img/mountain.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  border-radius: 2rem;
  margin-top: 10%;
  height: 70vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1000px) {
  .card {
    background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, rgba(33, 4, 88, 0.3) 50%), url("../img/mountain.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 2rem;
    height: 70vh;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 700px) {
  .card {
    background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%, rgba(33, 4, 88, 0.3) 100%), url("../img/mountain.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 2rem;
    height: 70vh;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
}
.labelh2 {
  font-size: 4rem;
  font-weight: bold;
  color: #210458;
}
.login-welcome-text {
  color: #fff;
  z-index: 5;
  font-size: 400%;
  margin-left: 40%;
  border-bottom: 1rem solid;
  display: table;
}
@media screen and (max-width: 1000px) {
  .login-welcome-text {
    font-size: 250%;
    margin-left: 55%;
    border-bottom: 0.7rem solid;
  }
}
@media screen and (max-width: 700px) {
  .login-welcome-text {
    display: none;
  }
}
.regcard {
  background-image: linear-gradient(to right top, #00ff9b, #5f84fb);
  height: 100vh;
}
.cardsignup {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 35%, rgba(33, 4, 88, 0.3) 35%), url(../img/mountain.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  border-radius: 2rem;
  margin-top: 10%;
  height: 70vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1000px) {
  .cardsignup {
    background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, rgba(33, 4, 88, 0.3) 50%), url("../img/mountain.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 2rem;
    height: 70vh;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 700px) {
  .cardsignup {
    background-image: linear-gradient(90deg, #ffffff 0%, #ffffff 100%, rgba(33, 4, 88, 0.3) 100%), url("../img/mountain.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 2rem;
    height: 70vh;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  }
}
.row {
  padding-left: 10%;
  padding-right: 10%;
}
.form-group {
  height: 6rem;
  width: auto;
}
.labelh2 {
  font-size: 4rem;
  font-weight: bold;
  color: #210458;
}
.btn {
  font-size: 2rem;
}
.login-signup-text {
  color: #fff;
  z-index: 5;
  font-size: 400%;
  margin-left: 40%;
  margin-top: -100px;
  border-bottom: 1rem solid;
  display: table;
}
@media screen and (max-width: 1000px) {
  .login-signup-text {
    font-size: 250%;
    margin-left: 55%;
    border-bottom: 0.7rem solid;
  }
}
@media screen and (max-width: 700px) {
  .login-signup-text {
    display: none;
  }
}
