<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

  <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="//code.angularjs.org/1.6.0/angular.min.js"></script>
  <script src="//code.angularjs.org/1.6.0/angular-route.min.js"></script>
  <script src="//code.angularjs.org/1.6.0/angular-cookies.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <!--     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script> -->

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!--Material Icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="app.js"></script>
  <script src="services/authentication.service.js"></script>
  <script src="services/weatherapi.service.js"></script>
  <script src="services/user.service.js"></script>

  <!-- Fake user service for demo that uses local storage -->
  <!--script src="app-services/user.service.local-storage.js"-->
  <!--/script-->

  <script src="pages/home/home.controller.js"></script>
  <script src="pages/login/login.controller.js"></script>
  <script src="pages/register/register.controller.js"></script>
  <script src="pages/sidebar/sidenav.controller.js"></script>
  <script src="pages/add/add.controller.js"></script>
  <script src="pages/sharedcity/sharedcity.controller.js"></script>
  <!--<link rel="stylesheet" href="css/icon-font.css">-->


  <!--css style sheets-->
  <link rel="stylesheet" href="assets/buildcss/main.css" />
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css" />

  <!--favicon-->
  <link rel="shortcut icon" type="image/png" href="assets/img/logo.png" />

  <title>Weather App</title>
</head>

<body>

  <!--Sidebar and Header Controller-->
  <div ng-controller="AppCtrl" layout="column" style="height: 500px;" ng-cloak>

    <!--header-->
    <md-toolbar ng-show="loginornot" class="md-hue-2">
      <div class="md-toolbar-tools">
        <img src="assets/img/sidebar-logo.png" alt="sidebar-logo" class="sidebarlogo" ng-click="toggleLeft()">
        <img src="assets/img/logo.png" alt="marshmallow-logo" class="main-logo">
        <h2 flex md-truncate style="font-weight: bold; font-size: 3rem;">Minimus</h2>
        <span class="day-text">Today</span>
      </div>
    </md-toolbar>

    <!--sidebar-->
    <section layout="row" flex>
      <md-sidenav ng-show="loginornot" class="md-sidenav-left sidebarfull" md-component-id="left" md-disable-backdrop=""
        md-whiteframe="6">
        <md-toolbar class="mdthemecolorful">
          <div class="sidepanel__top__uper ">
            <img ng-src="assets/img/sidebar-logo.png" alt="sidebar-logo" class="sidebar-logo" ng-click="toggleLeft()">
            <span class="sidepanel__top__uper__welcome">WELCOME BACK</span>
          </div>
          <div class="sidepanel__top__lower"><img ng-src="assets/img/user.png" class="sidepanel__top__lower__img">
            <div class="sidepanel__top__lower__details">
              <span class="sidepanel__top__lower__details__email">{{uidd}}</span>
              <span class="sidepanel__top__lower__details__plan"> Free Plan</span>
            </div>
          </div>
        </md-toolbar>
        <br />
        <md-list flex>
          <ul class="nav-mobile-list" ng-click="toggleLeft()">
            <md-list-item class="md-4-line" ng-click="null" ng-href="#!/">
              <div class="md-list-item-text" layout="column">
                <li><i class="material-icons">home</i> Home</li>
              </div>
            </md-list-item>
            <md-list-item class="md-4-line" ng-click="null" ng-href="#!/add">
              <div class="md-list-item-text" layout="column">
                <li><i class="material-icons">search</i> Search City</li>
              </div>
            </md-list-item>
            <md-list-item class="md-4-line" ng-click="null" ng-href="#!/sharedcity">
              <div class="md-list-item-text" layout="column">
                <li><i class="material-icons">share</i> Shared With Me
              </div>
            </md-list-item>
            <md-list-item class="md-4-line" ng-click="removeheader()">
              <div class="md-list-item-text" layout="column">
                <li><i class="material-icons">logout</i> Logout</li>
              </div>
            </md-list-item>
          </ul>
        </md-list>

        <!--footer inside sidebar-->
        <span class="footer"> Copyright © 2020 Minimus </span>
      </md-sidenav>

    </section>


    <!--Angular view call-->
    <div ng-view></div>

  </div>

</body>

</html>