<div ng-controller="AppCtrl" layout="column" style="height: 500px;" ng-cloak>

    <mat-toolbar color="primary" class="toolbar">
        <a href=""><img src="../img/sidebar-logo.png" alt="sidebar-logo" class="sidebar-logo"
                ng-click="toggleLeft()"></a>
        <img src="../img/logo.png" alt="marshmallow-logo" class="main-logo">

        <span class="logo-text">Minimus</span>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <span class="day-text">Today</span>
    </mat-toolbar>






    <section layout="row" flex>

        <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="6">

            <md-toolbar class="mdthemecolorful">
                <div class="sidepanel__top__uper">
                    <a href=""><img src="../img/sidebar-logo.png" alt="sidebar-logo" class="sidepanel__top__uper__logo"
                            ng-click="toggleLeft()"></a>
                    <span class="sidepanel__top__uper__welcome">WELCOME BACK</span>
                </div>
                <div class="sidepanel__top__lower"><img src="../img/user.png" class="sidepanel__top__lower__img">
                    <div class="sidepanel__top__lower__details">
                        <span class="sidepanel__top__lower__details__email">{{vm.user.username}}</span>
                        <span class="sidepanel__top__lower__details__plan"> Free Plan</span>
                    </div>
                </div>
            </md-toolbar>

            <md-content layout-margin="">
                <div class="sidepanel__nav">
                    <a href="#!/">Home</a>
                    <a href="#!/add">Add city</a>
                    <a href="#">Shared With Me</a>
                    <a href="#!/login">Logout</a>
                </div>
            </md-content>



        </md-sidenav>

    </section>


    <h1>Hi {{vm.user.firstName}}!</h1>
    <p>You're logged in!!</p>
    <h3>All registered users:</h3>

    <ul>
        <li ng-repeat="user in vm.allUsers">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a ng-click="vm.deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    <p>&nbsp;</p>
    <p><a href="#!/login" class="btn btn-primary">Logout</a></p>