.formlogin {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__control {
    border: none;
    transition: all 0.3s;
    box-shadow: 2 2rem 4rem rgba($color-primary, 0.5);
    animation: 2s ease-in-out slidedown;

    &:focus {
      outline: none;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
    zoom: 150%;
  }
}

#username,
#password {
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.3);
  padding: 2rem;
  width: 18rem;
  height: 1.5rem;
}

.md-raised,
.md-primary {
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 25%;
  &:focus {
    outline: none;
  }
}
/*.form-label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
*/
