.formlogin {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__control {
    border: none;
    transition: all 0.3s;
    box-shadow: 2 2rem 4rem rgba($color-primary, 0.5);
    animation: 2s ease-in-out slidedown;

    &:focus {
      outline: none;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
    zoom: 150%;
  }
}