<div cards class="main__container">
    <app-weather-card>

        <div layout="column" ng-controller="HomeController as cardloader" ng-cloak="" class="gridListdemoBasicUsage"
            ng-app="app">

            <md-switch class="switchmanager" ng-model="disptype" aria-label="Display Type"
                ng-change="onChange(disptype)">
                Display Type: {{displabel}}
            </md-switch>


            <!--Grid-->
            <md-grid-list ng-hide="disptype" md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
                md-row-height="50rem" md-gutter="50px" md-gutter-gt-sm="20px">

                <md-grid-tile ng-repeat='cityname in cities track by $index' md-rowspan="1" md-colspan="1">

                    <md-card class="cardmd" align="center">
                        <div class="btnsmain">
                            <md-button class="md-fab md-primary md-hue-2 sharegridbtn"
                                ng-click="showPrompt($event,cityname)" aria-label="Shared Btn">
                                <md-icon md-svg-src="../../assets/img/share.svg"></md-icon>
                            </md-button>
                            <md-button class="md-fab md-warn  deletebtn" ng-click="showConfirm($event, cityname)"
                                aria-label="Delete Btn">
                                <md-icon md-svg-src="../../assets/img/delete.svg"></md-icon>
                            </md-button>
                        </div>

                        <md-card-title class="citytext">
                            <md-card-title-text class="cardcitytext">
                                <span class="md-city" align="center">{{cityname.name}}</span>
                            </md-card-title-text>
                        </md-card-title>

                        <img ng-src="../../assets/img/{{cityname.weather[0].main}}.png" class="weatherlogo"
                            alt="weather-logo">
                        <md-card-title class="citytext">
                            <md-card-title-text>
                                <span class="md-temp"
                                    style="font-weight: bold;">{{cityname.main.temp-273.15 | number:0}}&#176;</span>

                                <span class="md-weather">{{cityname.weather[0].main}}</span>
                            </md-card-title-text>

                        </md-card-title>
                        <md-card-content>
                            <p>
                                <span class="md-temp"
                                    style="color:green;">{{cityname.main.temp_min-273.15 | number:0}}&#176;</span>

                                <span class="md-temp"
                                    style="color:red;">{{cityname.main.temp_max-273.15 | number:0}}&#176;</span>
                                <br />
                                <span class="md-weather" style="color:green;">Min</span>

                                <span class="md-weather" style="color:red;">Max</span>
                                <br />
                                <span ng-show="sharedsuccess" style="color: green;">{{cityname.name}}
                                    Shared
                                    Successfully</span>
                            </p>
                        </md-card-content>


                    </md-card>


                </md-grid-tile>

                <md-grid-tile md-rowspan="1" md-colspan="1">

                    <a href="#!/add">
                        <md-card class="cardmd" align="center">
                            <md-card-title class="citytext">
                                <md-card-title-text class="cardcitytext">
                                    <span class="md-city" align="center">Add City</span>
                                </md-card-title-text>
                            </md-card-title>

                            <img src="../../assets/img/add.png" class="addlogo" alt="weather-logo">
                        </md-card>

                    </a>
                </md-grid-tile>

            </md-grid-list>


            <!--List-->
            <md-virtual-repeat-container ng-show="disptype" id="vertical-container">
                <md-list>

                    <md-list-item md-virtual-repeat="cityname in CTS" class="noright">
                        <!--md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat"
                                md-svg-icon="communication:message"></md-icon-->
                        <md-card class="cardmdlist" align="center">

                            <md-card-title class="citytextlist">
                                <md-card-title-text class="cardcitytextlist">
                                    <span class="md-citylist" align="center">{{cityname.name}}</span>
                                </md-card-title-text>
                            </md-card-title>

                            <img ng-src="../../assets/img/{{cityname.weather[0].main}}.png" class="weatherlogolist"
                                alt="weather-logo">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-templ"
                                        style="font-weight: bold;">{{cityname.main.temp-273.15 | number:0}}&#176;</span>

                                    <span class="md-weatherlist">{{cityname.weather[0].main}}</span>
                                </md-card-title-text>

                            </md-card-title>
                            <md-card-content align="center">
                                <p class="templist">

                                    <span class="md-templ"
                                        style="color:green;">{{cityname.main.temp_min-273.15 | number:0}}&#176;</span>
                                    <span class="md-weather" style="color:green;">Min</span>
                                    <br />
                                    <span class="md-templ"
                                        style="color:red;">{{cityname.main.temp_max-273.15 | number:0}}&#176;</span>
                                    <span class="md-weather" style="color:red;">Max</span>

                                    <br />

                                </p>
                            </md-card-content>

                            <div class="btnslist">
                                <md-button class="md-fab md-primary md-hue-2 btnoflist md-mini"
                                    ng-click="showPrompt($event,cityname)" id="listsharedbtn" aria-label="Use Android">
                                    <md-icon md-svg-src="../../assets/img/share.svg"></md-icon>
                                </md-button>
                                <md-button class="md-fab md-warn btnoflist md-mini"
                                    ng-click="showConfirm($event, cityname)" aria-label="Delete Btn">
                                    <md-icon md-svg-src="../../assets/img/delete.svg"></md-icon>
                                </md-button>
                            </div>

                        </md-card>
                    </md-list-item>

                    <a href="#!/add">
                        <md-card class="cardmdlistadd" align="center">
                            <md-card-title class="citytextlist">
                                <md-card-title-text class="cardcitytext">
                                    <span class="md-city" align="center">Add City</span>
                                </md-card-title-text>
                            </md-card-title>

                            <img src="../../assets/img/add.png" class="addlogolist" alt="weather-logo">
                        </md-card>

                    </a>
                </md-list>
            </md-virtual-repeat-container>
            </md-content>
            <!--
            Copyright 2016 Google Inc. All Rights Reserved. 
            Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
            -->
        </div>
    </app-weather-card>

    <app-error [message]="errorMessage"></app-error>
    <app-add-card></app-add-card>
</div>