<div cards class="main__container">
    <app-weather-card>

        <div layout="column" ng-controller="SharedcityController as cardloader" ng-cloak=""
            class="gridListdemoBasicUsage" ng-app="app" ng-init="citysharedby">

            <md-switch class="switchmanager md-primary" ng-model="disptype" aria-label="Display Type"
                ng-change="onChange(disptype)">
                Display Type: {{displabel}}
            </md-switch>


            <!--Grid-->
            <md-grid-list ng-hide="disptype" md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4"
                md-row-height="50rem" md-gutter="50px" md-gutter-gt-sm="20px">

                <md-grid-tile ng-repeat='cityname in cities track by $index' md-rowspan="1" md-colspan="1">

                    <md-card class="cardmd" align="center">

                        <md-card-title class="citytext">
                            <md-card-title-text class="cardcitytext">
                                <span class="md-city" align="center">{{cityname.name}}</span>
                            </md-card-title-text>
                        </md-card-title>

                        <img ng-src="../../assets/img/{{cityname.weather[0].main}}.png" class="weatherlogo"
                            alt="weather-logo">
                        <md-card-title class="citytext">
                            <md-card-title-text>
                                <span class="md-temp"
                                    style="font-weight: bold;">{{cityname.main.temp-273.15 | number:0}}&#176;</span>
                                <span class="md-weather">{{cityname.weather[0].main}}</span>
                            </md-card-title-text>

                        </md-card-title>
                        <md-card-content>
                            <p>
                                <span class="md-temp"
                                    style="color:green;">{{cityname.main.temp_min-273.15 | number:0}}&#176;</span>

                                <span class="md-temp"
                                    style="color:red;">{{cityname.main.temp_max-273.15 | number:0}}&#176;</span>
                                <br />
                                <span class="md-weather" style="color:green;">Min</span>

                                <span class="md-weather" style="color:red;">Max</span>
                                <br />
                                <br />
                                <span class="sharedbyemail" style="color:indigo;">Shared by<br />
                                    {{citysharedby[$index]}}</span>
                            </p>
                        </md-card-content>
                    </md-card>

                </md-grid-tile>

            </md-grid-list>


            <!--List-->
            <md-virtual-repeat-container ng-show="disptype" id="vertical-container">
                <md-list>
                    <md-list-item md-virtual-repeat="cityname in CTS" class="noright listinsharedpage">
                        <!--md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat"
                                md-svg-icon="communication:message"></md-icon-->
                        <md-card class="cardmdlist" align="center">
                            <md-card-title class="citytextlist">
                                <md-card-title-text class="cardcitytextlist">
                                    <span class="md-citylist" align="center">{{cityname.name}}</span>
                                </md-card-title-text>
                            </md-card-title>

                            <img ng-src="../../assets/img/{{cityname.weather[0].main}}.png" class="weatherlogolist"
                                alt="weather-logo">
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-templ"
                                        style="font-weight: bold;">{{cityname.main.temp-273.15 | number:0}}&#176;</span>
                                    <span class="md-weatherlist">{{cityname.weather[0].main}}</span>
                                </md-card-title-text>

                            </md-card-title>
                            <md-card-content>
                                <p class="templist">
                                    <span class="md-templ"
                                        style="color:green;">{{cityname.main.temp_min-273.15 | number:0}}&#176;</span>
                                    <span class="md-weather" style="color:green;">Min</span>
                                    <br />
                                    <span class="md-templ"
                                        style="color:red;">{{cityname.main.temp_max-273.15 | number:0}}&#176;</span>
                                    <span class="md-weather" style="color:red;">Max</span>
                                    <br />
                                </p>
                            </md-card-content>
                            <span class="sharedbyemaillist" style="color:indigo;">Shared by
                                {{citysharedby[$index]}}</span>
                        </md-card>

                    </md-list-item>
                </md-list>
            </md-virtual-repeat-container>
            </md-content>
            <!--
            Copyright 2016 Google Inc. All Rights Reserved. 
            Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at https://material.angularjs.org/license.
            -->
        </div>
    </app-weather-card>

    <app-error [message]="errorMessage"></app-error>
    <app-add-card></app-add-card>
</div>