.weatherlogo {
  height: 150px;
  width: 150px;
  align-self: center;
  align-content: center;
}

.addlogo{
  height:150px;
  width: 150px;
  margin-left: 50px;
  margin-bottom: 80px;
}

.card__title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.switchmanager{
  align-content: center;
  justify-content: center;
}

.cardmd {
  height: 40rem;
  width: 25rem;
  align-items: top;
  align-content: center;
  border-radius: 5%;
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.cardcitytext {
    align-items: top;
    align-content: center;
}

md-card-title {
  translate: transform(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}



#vertical-container {
  height: 100vw;
  width: 100%;
  }
.virtualRepeatdemoVerticalUsage .repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 100px;
  padding-top: 10px; }
.virtualRepeatdemoVerticalUsage md-content {
  margin: 16px; }
.virtualRepeatdemoVerticalUsage md-virtual-repeat-container {
  border: solid 1px grey; }
.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
  padding-left: 16px; }