

    .weatherlogo {
  height: 100px;
  width: auto;
}

.card__title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.cardmd {
  height: 40rem;
  width: 25rem;
  padding: 10rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 1),
    0 1px 3px 0 rgba(0, 0, 0, 1);
}
